@charset "UTF-8";


@media screen  and (min-width: 768px) and (max-width: 992px) {
    section#login{
        width: 80vw;
    }
    
   body{
    background-image: linear-gradient(to top,#033D49, #013743);
   }

   section#login > div#imagem{ 
    float: left;
    width: 30%;
    height: 100%;
    background-position: top ;
    }
    
    section#login > div#formulario{
        float: right;
        width: 70%;
       
    }

    div#formulario > h1{
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    div#formulario{
        font-size: 1.2em;
    }
}

@media  screen and (min-width: 992px) {
    section#login{
        width: 952px;
    }

    body{
        background-image: linear-gradient(to top,#033D49, #013743);
       }
    
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
        background-position: left;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }
    
    div#formulario{
        font-size: 1.2em;
    }

    
}